ul{
    list-style: circle;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

th{
    background-color: #000;
    color: #fff;
}

tr:nth-child(even){
   background-color: antiquewhite;
}

/* ? Display */

.to_inline{
    background-color: blue;
    padding: 5px;
    display: inline;
    width: 50000px;
}
.to_block{
    padding: 5px;
    display: block;
    background-color: red;
}

.in_block{
    padding: 5px;
    border: 2px solid #000;
    display: inline-block;
    width: 300px;
}

.static {
    position: static;
    background-color: orange;
    padding: 5px;

}

.fix {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: aqua; 
  right: 00px; 
  top: 0;
}

/* button {
    position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;

} */

ul {
    display: flex;
    gap: 20px;
}

.relative {
    width: 500px;
    height: 300px;
    border: 2px solid #000;
    position: relative;
}


.abs {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: blue;
}
